.titular{
  background-color: #c50047;
}


.subtitular{
  background-color: #480e23;
}


/*Calificacion*/
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #480e23;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #c50047;
}


